
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Joyfully<br />
						Hadiza</h1>
						<p>Personal Development| Intentional living| Goal-Setting| Journaling</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ url_for('home') }}" class="logo">Joyfully Hadiza</a>
					</header>