<!DOCTYPE HTML>
<html>
	<head>
		<title>Let's Plan 2023! | Joyfully Hadiza</title>
		<link rel="icon" type="image/png" href="static/images/apple-touch-icon.png">
		<meta charset="utf-8" />
		<meta name="description" content="Hi, I am a planning optimist and in these pages, we will be taking in 2022; making peace with her and planning for 2023.">
		<meta name="keywords" content="Personal Development| Intentional living| Goal-Setting| Journaling">
		<meta name="author" content="Hadiza Umar">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>


{% include "header.html" %}

				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('journaling_prompts') }}">Journaling Prompts</a></li>
						<li class="active"><a href="{{ url_for('plan_2023') }}">Let's Plan 2023!</a></li>
						<li><a href="{{ url_for('newsletter') }}">Newsletter</a></li>
					</ul>
					<ul class="icons">
						<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="https://m.facebook.com/joyfullyhadiza/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/joyfully_hadiza_/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://youtube.com/channel/UC7wsLbLhXX8_q7baetS-VGg" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<!-- <header class="major">
									<h2>Let's plan 2023<br />
									toether!</h2>
								</header> -->

								<!-- Text stuff -->
								<article class="post featured">
									<header class="major">
										<!-- <span class="date">April 25, 2017</span> -->
										<h2>Pre-order &ldquo;Let&rsquo;s plan 2023 together&rdquo;!<br /></h2>
										<!-- dolor sit amet</a></h2> -->
										<a href="https://paystack.com/buy/lets-plan-2023-ootvha" class="image main"><img src="static/images/HADIZA FLYER-4.jpg" alt="" /></a>
										<a href="https://paystack.com/buy/lets-plan-2023-ootvha" class="button primary">Pre-order now</a>
										<br />
										<hr />

										<h3>Reviews</h3>
									<blockquote style="text-align:left;">The book LET’S PLAN 2023 TOGETHER is a comprehensive list of easy questions that serve as a guide to help you be more intentional about your coming year. <br />

										As someone who has a hard time answering questions that make me think deeply into my thoughts, especially on things relating to myself and my future, this book had an amazing way of easing me into the big questions. <br />
										
										Starting with a simple &ldquo;How was 2022&rdquo; it helped me pace myself. it held my hand as I dived into memories of my past year. My motivations and actions through out the past 10 months, after that it held my hands through correcting my mistakes in the next year. <br />
										
										Overall I am very much glad I got the privilege of reading it, and I am very sure it would help you just as much as it helped me. <br />
										
										-<strong>Byeongify</strong></blockquote>

									<hr />

										<p>Hi, I'm Hadiza; a planning optimist and in these pages, we will be taking in 2022; making peace with her and planning for 2023.</p>

											<a href="https://paystack.com/buy/lets-plan-2023-ootvha" class="button primary">Click to start your planning journey!</a>
									</header>
									<!-- <a href="#" class="image main"><img src="static/images/e-book.jpeg" alt="" /></a> -->
									<ul class="actions special">
										<!-- <li><a href="#" class="button large">Full Story</a></li> -->
									</ul>


									
								</article>
						
							</section>

					</div>



				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Joyfully Hadiza</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
