<!DOCTYPE HTML>
<html>
	<head>
		<title>Signup Complete|Joyfully Hadiza</title>
		<link rel="icon" type="image/png" href="static/images/apple-touch-icon.png">
		<meta charset="utf-8" />
		<meta name="description" content="Signup to receive my newsletter!">
		<meta name="keywords" content="Personal Development| Intentional living| Goal-Setting| Journaling">
		<meta name="author" content="Hadiza Umar">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>

{% include "header.html" %}

				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<!-- <li><a href="generic.html">Lorem Ipsum</a></li> -->
						<li class="active"><a href="{{ url_for('newsletter') }}">Newsletter</a></li>
					</ul>
					<ul class="icons">
						<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="https://m.facebook.com/joyfullyhadiza/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/joyfully_hadiza_/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://youtube.com/channel/UC7wsLbLhXX8_q7baetS-VGg" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Signup<br />
									complete</h1>
								</header>

								<!-- Text stuff -->
									<h2>News and updates, delivered to you.</h2>
									<hr />
									
						
							</section>

					</div>



				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Joyfully Hadiza</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>